.movies-card-list {
    padding-top: 40px;
    padding-bottom: 130px;
}


.movies-card-list__top {
    padding: 0 10px 0px 10px;
}

.movies-card-list__bottom {
    display: flex;
}

.movies-card-list__message {
    color: red;
    text-align: center;
}

.movies-card-list__more-btn {
    width: 240px;
    height: 36px;
    background-color: #F9F9F9;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
}

.movies-card-list__more-btn:hover {
    transform: scale(1.1);
    transition-duration: 0.3s;
    cursor: pointer;
}


@media screen and (min-width: 768px) {
    .movies-card-list {
        padding-top: 70px;
    }

    .movies-card-list__top {
        padding: 70px 30px 0px 30px;
    }
}


@media screen and (min-width: 1280px) {
    .movies-card-list__top {
        padding: 70px 70px 0px 70px;
        display: flex;
        flex-direction: column;
    }
}