.movie-card {
    margin-bottom: 20px;
    background-color: #F9F9F9;
}

.movie-card__image {
    object-fit: cover;
    width: 100%;
}

.movie-card__bottom {
    padding: 14px 12px 14px 12px;
}

.movie-card__heading-and-button {
    display: flex;
    justify-content: space-between;
}

.movie-card__heading {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin: 0;
    padding: 0;
}

.movie-card__button {
    background-color: inherit;
    background-repeat: no-repeat;
    background-size: contain;
    width: 14px;
    height: 12px;
    border: none;
}

.movie-card__button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 300ms;
}

.movie-card__button_type_active {
    background-image: url('../../image/likeBtnActive.svg');
}

.movie-card__button_type_inactive {
    background-image: url('../../image/likeBtnInactive.svg');
}

.movie-card__button_type_saved {
    background-image: url('../../image/cardCloseBtn.svg');
}

.movie-card__button_type_desctop {
    display: none;
}

.movie-card__duration {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #A0A0A0;
    margin: 0;
    padding: 0;
    margin-top: 8px;
}


@media screen and (min-width: 768px) {
    .movie-card {
        display: flex;
        justify-content: space-between;
        padding: 6px 6px 6px 6px;
        margin-bottom: 40px;
    }

    .movie-card__top {
        border: 1px solid green;
        order: 2;
        width: 220px;
        height: 122px;
    }

    .movie-card__bottom {
        order: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .movie-card__heading {
        font-size: 18px;
        line-height: 22px;
    }

    .movie-card__duration {
        margin-bottom: 30px;
    }
    
    .movie-card__button_type_mobile {
        display: none;
    }

    .movie-card__button_type_desctop {
        display: block;
    }
}


@media screen and (min-width: 1280px) {
    .movie-card {
        margin: 0 auto 40px auto;
        width: 1140px;
    }
}